<section class="create-poll">
  <div class="jumbotron">
    <form action="/poll/edit/{{fields.id}}" method="post">
      <h3 class="text-center">Edit your poll!</h3>
      <p class="options-error text-center"></p>
      {{#each createError}}
        <p class="submit-error text-center">{{this}}</p>
      {{/each}}
      <div class="form-group">
        <label for="title">Poll Title</label>
        <input type="text" name="title" id="title" placeholder="Place Title here" class="form-control title" value="{{fields.title}}" pattern="^[a-zA-Z0-9\s\.',?!]*$">
      </div>
      <div class="options">
        {{#each fields.options}}
          {{> option value=this}}
        {{/each}}
      </div>
      <div class="btn-group btn-group-lg">
        <button class="btn btn-default add" type="button">Add Option</button>
        <button class="btn btn-default submit" type="submit">Submit Poll</button>
      </div>
    </form>
  </div>
</section>


