<h3>Login</h3>
<form action='/login' method='post'>
  <div class='form-group'>
    <label for='loginEmail'>Email</label>
    <input type='email' name='email' id='loginEmail' class='form-control' value={{login.email}}>
  </div>
  <div class='form-group'>
    <label for='loginPassword'>Password</label>
    <input id='loginPassword' name='password' class='form-control' type='password' value={{login.password}}>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-default'>Login</button>
  </div>
  <p class='error-message'>{{loginError}}</p>
</form>
<h3>Register</h3>
<form action='/register' method='post'>
  <div class='form-group'>
    <label for='registerEmail'>Email</label>
    <input type='email' name='email' class='form-control' id='registerEmail' value={{register.email}}>
  </div>
  <div class='form-group'>
    <label for='registerPassword'>Password</label>
    <input type='password' name='password' id='registerPassword' class='form-control' value={{register.password}}>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-default'>Register</button>
  </div>
  <p class='error-message'>{{registerError}}
</form>
