.poll {
  padding-top: 3em;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.create-poll {
  padding: 2em;
}

.jumbotron {
  position: relative;
}

form:first-child {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.submit-error, .options-error {
  color: red;
}
